.block {
    display: inline-block;
    margin-left: 402px;
    margin-top: 100px;
    padding-left: 5px;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    background-color: gray;
    border-radius: 8px;
    border:solid 2px #66FCF1;
    font-weight: 600;
    color: #66FCF1;
}